* {
    padding: 0px;
    margin: 0px;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    /* align-content: space-between; */
}

header {
    height: 100px;
    padding: 1em 3em;
    position: absolute;
    width: 100%;
    background: #02111b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex-grow: 1;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #FCFCFC;
}

footer {
    height: 100px;
    width: 100%;
    padding: 1em 0em;
    position: absolute;
    bottom: 0;
    background: #02111b;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* MEDIA QUERIES */

@media (max-width: 400px) {
    .navbar .list-items {
        font-size: 10px;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .navbar .list-items {
        font-size: 10px;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .navbar .list-items {
        font-size: 10px;
    }
   .list-items a {
        flex-shrink: 1;
    }
}