/* nav bar and nav item flex box */
.navbar,
.list-items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* individual item properties! */
.list-items a {
    font-size: 14px;
    text-decoration: none;
    color: #FCFCFC;
    text-transform: uppercase;
}

/* hover properties for nav */
.list-items a:hover {
    color: #5D737E;
    text-decoration: overline;
    font-weight: bold;
}

#logo {
    align-self: auto;
    height: 180px;
    width: 250px;
    border-radius: 100%;
}