.navbar,
.list-items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-items a {
    font-size: larger;
    text-decoration: none;
    color: #FCFCFC;
    text-transform: uppercase;
}

#logo {
    height: 200px;
    width: 300px;
    border-radius: 100%;
}